.video-cointainer {
	margin-top: 40px;
	position: relative;
	
	.video-column {
		float: left;
		height: 540px;
		margin-left: 20px;
		position: relative;
		width: 640px;
	}
	
	.video-menu {
		float: left;
		margin-left: 20px;
	}
	
	#video {
		border: 1px solid black;	
	}
	
	#video, #augmented-object {
		position: absolute;
		top:0;
		left: 0;
	}

	#screen {
		display:none;
	}
}

